---
meta_title: Blog
title: Recent Posts
permalink: /blog/
style: /css/blog.css
eleventyNavigation:
  key: Blog
  order: 2
---

<div class="card-list">
  {% for post in collections.blog %}
  <article class="card">
    {% if post.data.featured_image %}
    <a class="block relative overflow-hidden" href="{{ post.url | url }}">
      <ul class="badge-list">
        {% for item in post.data.tags %} {% if item != 'blog' %}
        <li class="badge-list__item">
          {{ item | capitalize }}
        </li>
        {% endif %} {% endfor %}
      </ul>
      <img
        src="{{ post.data.featured_image }}"
        class="block w-full"
        alt="{{ post.data.image_caption }}"
      />
    </a>
    {% endif %}

    <div class="card__content">
      <h2 class="card__title hover:text-secondary-500">
        <a href="{{ post.url | url }}">{{ post.data.title }}</a>
      </h2>
      <div class="card__subtitle">
        <p>By {{ site.author.name }}</p>
        <p class="hidden md:block px-2">-</p>
        <time datetime="{{ post.date }}">
          {{ post.date | dateDisplay }}
        </time>
      </div>
    </div>
  </article>
  {% endfor %}
</div>
