---
title: Categories
permalink: /categories/{{ category }}/
pagination:
  data: collections
  size: 1
  alias: category
---

<ul>
  {% for post in collections[category] %}
  <article class="pb-6 mb-4 lg:pb-8 lg:mb-8 border-b border-gray-100">
    <h2><a href="{{ post.url | url }}">{{ post.data.title }}</a></h2>

    <time class="text-sm mt-2 mb-3 block font-light" datetime="{{ post.date }}">
      {{ post.date | dateDisplay }}
    </time>

    <p class="text-lg">{{ post.data.excerpt }}</p>
  </article>
  {% endfor %}
</ul>
