---
title: Contact Us
permalink: /contact/
layout: base.html
style: /css/contact.css
---

<div class="section mt-12 flex flex-col lg:flex-row">
  <div class="w-100 lg:w-1/3">
    <h2 class="font-semibold leading-tight mb-2 lg:mb-6">
      Lets talk about anything!
    </h2>
    <p class="text-sm text-gray-700 mb-8">
      Don't like forms? Send us an <a href="mailto:info@navillus.nl">email</a>.
    </p>
    <img
      src="/img/uploads/contact-us.svg"
      class="w-3/4 mx-auto lg:w-full"
      alt="Lets talk about anything!"
    />
  </div>

  <form
    class="w-full lg:w-2/3 mt-12 lg:mt-0 lg:ml-12"
    name="contact-us"
    netlify
  >
    <div class="form__row">
      <label for="name" class="form__label">Name</label>
      <input id="name" name="name" class="form__input" />
    </div>
    <div class="form__row">
      <label for="email" class="form__label">Email</label>
      <input id="email" name="email" class="form__input" />
    </div>
    <div class="form__row">
      <label for="message" class="form__label">Message</label>
      <textarea
        id="message"
        name="message"
        rows="8"
        class="form__input"
      ></textarea>
    </div>
    <div class="flex flex-row items-center justify-between">
      <div class="text-sm flex flex-row items-center">
        <input id="terms" type="checkbox" name="terms" value="terms" />
        <label for="terms" class="ml-2">
          Accept
          <a href='{{ "/privacy" | url }}' target="_blank">privacy policy</a>
        </label>
      </div>

      <button type="submit" class="btn--primary">Send</button>
    </div>
  </form>
</div>
