<footer
  class="footer mt-20 flex flex-col items-center bg-gray-900 text-gray-500 text-sm"
>
  <div class="section py-12">
    <ul class="footer-row">
      <li class="footer-item">
        <a href="/about" class="no-underline">About</a>
      </li>
      <li class="footer-item"><a href="/blog" class="no-underline">Blog</a></li>
      <li class="footer-item">
        <a href="/partners" class="no-underline">Partners</a>
      </li>
      <li class="footer-item">
        <a href="/contact" class="no-underline">Contact Us</a>
      </li>
    </ul>

    <ul class="footer-row">
      <li class="footer-item">
        <a
          href="{{ contact.facebook }}"
          class="no-underline"
          aria-label="facebook"
        >
          <svg class="block h-6 w-6" fill="currentColor" role="img">
            <use
              xmlns:xlink="http://www.w3.org/1999/xlink"
              xlink:href="/img/uploads/icons.svg#icon-facebook"
            ></use>
          </svg>
        </a>
      </li>
      <li class="footer-item">
        <a
          href="{{ contact.instagram }}"
          class="no-underline"
          aria-label="instagram"
        >
          <svg class="block h-6 w-6" fill="currentColor" role="img">
            <use
              xmlns:xlink="http://www.w3.org/1999/xlink"
              xlink:href="/img/uploads/icons.svg#icon-instagram"
            ></use>
          </svg>
        </a>
      </li>
      <li class="footer-item">
        <a
          href="{{ contact.twitter }}"
          class="no-underline"
          aria-label="twitter"
        >
          <svg class="block h-6 w-6" fill="currentColor" role="img">
            <use
              xmlns:xlink="http://www.w3.org/1999/xlink"
              xlink:href="/img/uploads/icons.svg#icon-twitter"
            ></use>
          </svg>
        </a>
      </li>
    </ul>

    <p class="footer-row text-xs">© 2020 Navillus B.V. All rights reserved.</p>
  </div>
</footer>
