<header class="w-full py-3 lg:py-5 bg-gray-900 text-gray-100">
  <div class="section flex flex-row justify-between items-center">
    <a href="{{ '/' | url }}" alt="Home" class="no-underline">
      <img
        src="/img/uploads/logo-horizontal-alt.png"
        alt="Navillus"
        class="h-8"
        data-inline
      />
    </a>

    {% include "components/nav.html" %}
  </div>
</header>
