<nav>
  {% set navPages = collections.all | eleventyNavigation %}
  <ul class="flex flex-row -mx-2">
    {% for entry in navPages %}
    <li class="mx-2 text-lg font-semibold">
      <a href="{{ entry.url | url }}">{{ entry.title }}</a>
    </li>
    {% endfor %}
  </ul>
</nav>
