<header class="section mt-4 pb-6 mb-4 lg:pb-8 lg:mb-8 border-b border-gray-100">
  <h1 class="text-left md:text-center">{{ title }}</h1>

  {% if excerpt %}
  <div class="mt-5 text-lg lg:text-2xl text-gray-700 font-light">
    {{ excerpt | markdown | safe }}
  </div>
  {% endif %} {% if author or tags %}
  <div class="mt-3 text-sm md:text-base text-gray-600 flex justify-center">
    {% if author %}
    <p>By {{ author }}</p>
    {% endif %} {% if date %} {% if author %}
    <p class="px-2">-</p>
    {% endif %}
    <time datetime="{{ date }}">
      {{ date | dateDisplay }}
    </time>
    {% endif %} {% if tags %} {% set comma = joiner() %}
    <p class="px-2">—</p>
    <p>
      Posted in {% for item in tags %}{{ comma() }}
      <a href="/categories/{{ item }}">{{ item | capitalize }}</a>{% endfor %}
    </p>
    {% endif %}
  </div>
  {% endif %}
</header>
