---
style: /css/styles.css
---

<!DOCTYPE html>
<html lang="en">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% seo "" %} {{ manifest | manifest | safe }} {% if style %} {% if env ==
  'production' %}
  <style data-href="{{ style }}"></style>
  {% else %}
  <link rel="stylesheet" href="{{ style }}" />
  {% endif %} {% endif %}

  <script>
    if ('serviceWorker' in navigator)
      navigator.serviceWorker.register('/service-worker.js')
  </script>
</html>

<body>
  {% include "components/header.html" %}

  <main>
    {{ layoutContent | safe }}
  </main>

  {% include "components/footer.html" %}
</body>
