---
layout: base.html
---

<article class="mx-auto section">
  {% include "components/pageHeader.html" %}

  <div class="mb-12 md:mb-20">
    {% if featured_image %}
    <figure class="mt-10 md:mt-20 w-full">
      <img
        src="{{ featured_image }}"
        alt="{{ image_caption }}"
        data-aspect-width="16"
        data-aspect-height="9"
      />
      {% if image_caption %}
      <figcaption class="text-center text-sm italic text-gray-600 mt-4">
        {{ image_caption }}
      </figcaption>
      {% endif %}
    </figure>
    {% endif %}
  </div>

  <div class="post-content md:px-16">
    {{ content | safe }} {% if tags %}
    <ul class="flex pt-4 list-none">
      {% for item in tags %} {%- if item != "blog" -%}
      <li class="mr-2">
        <a
          class="inline-block px-3 py-2 text-white bg-primary-900 text-xs font-semibold rounded hover:text-white hover:bg-pink-500"
          href="/categories/{{ item }}"
          >{{ item | capitalize }}</a
        >
      </li>
      {%- endif -%} {% endfor %}
    </ul>
    {% endif %}
  </div>

  <div class="mt-16 md:px-16">
    <div class="flex justify-between mt-16 border-t border-gray-200 pt-12">
      {% if prevPost %}
      <p class="text-gray-700 text-sm">
        <span>Previous:</span>
        <a class="link" href="{{ prevPost.url }}">{{ prevPost.data.title }}</a>
      </p>
      {% endif %} {% if nextPost %}
      <p class="text-gray-700 text-sm">
        <span>Next:</span>
        <a class="link" href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
      </p>
      {% endif %}
    </div>
  </div>
</article>
