@import 'styles.css';

.form__row {
  @apply mb-4;
}

.form__label {
  @apply block text-sm leading-5 font-medium text-gray-700 mb-1;
}

.form__input {
  @apply appearance-none border border-gray-300 shadow-sm rounded-md py-2 px-3 block w-full;
}

@screen sm {
  .form__input {
    @apply text-sm leading-5;
  }
}
