@import 'styles.css';

.table-of-contents {
  @apply my-8;
}

.table-of-contents ul {
  @apply list-none font-semibold leading-relaxed m-0;
}

.table-of-contents ul ul {
  @apply ml-4 font-normal mb-3 mt-0;
}

main ul {
  @apply list-disc ml-4 mt-3;
}

main h2 {
  @apply text-3xl font-semibold mt-12 mb-6;
}

main h3 {
  @apply text-2xl font-semibold mt-6 mb-4;
}

main h4 {
  @apply text-lg font-semibold mt-6 mb-4;
}

main h2 + h3 {
  @apply mt-0;
}

main h3 + h4 {
  @apply mt-0;
}

main p {
  @apply text-base leading-relaxed;
}

main p + p {
  @apply mt-3;
}
