@import 'tailwind.css';

h1 {
  @apply text-3xl font-semibold;
}

h2 {
  @apply text-2xl font-semibold;
}

h3 {
  @apply text-xl;
}
@screen lg {
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
}

a:not(.no-underline) {
  @apply border-b border-blue-600;
}

.section {
  @apply w-11/12 mx-auto;
}

@screen lg {
  .section {
    @apply w-10/12;
  }
}

.direct-link {
  @apply hidden;
}

/* Buttons */
.btn--primary {
  @apply text-lg font-semibold bg-gray-900 text-gray-100 px-8 py-2 rounded-lg;
}

@screen lg {
  .btn--primary {
    @apply px-6;
  }
}

/* Footer */
.footer-row {
  @apply flex flex-row justify-center mb-6;
}
.footer > *:last-child {
  @apply mb-0;
}

.footer-item {
  @apply px-2 mx-1 transition transition-colors duration-200;
}

.footer-item:hover {
  @apply text-gray-100;
}

/* Cards */
.card-list {
  @apply grid grid-cols-1 gap-4;
}

.card {
  @apply bg-white overflow-hidden rounded-lg shadow-lg;
}

.card__content {
  @apply p-4;
}

.card__title {
  @apply text-2xl mb-6 block text-gray-900 transition transition-colors duration-200;
}

.card__subtitle {
  @apply text-sm text-gray-700 mb-4;
}

@screen sm {
  .card-list {
    @apply grid-cols-2 gap-8;
  }
}

@screen md {
  .card__subtitle {
    @apply flex;
  }
}

@screen lg {
  .card-list {
    @apply grid-cols-3;
  }

  .card__content {
    @apply p-8;
  }
}

/* Badges */
.badge-list {
  @apply absolute bottom-0 grid grid-flow-col py-4 px-4 gap-2 z-10;
}

.badge-list__item {
  @apply mr-2 inline-block capitalize bg-gray-800 px-4 py-2 text-gray-100 text-xs font-bold rounded;
}

@screen lg {
  .badge-list {
    @apply px-8;
  }
}
